<mat-toolbar class="miToolbar">
    <img
    width="30vw"
    alt="Logo"
    src="https://static.thenounproject.com/png/198566-200.png"
   />
    <br>
    <a class="logoApp" routerLink="" routerLinkActive="active">MISalita</a>
    <div class="spacer"></div>
    <button class="bMenu" mat-raised-button color="accent" routerLink="juegos" routerLinkActive="active">Juegos</button>
    <div class="spacer"></div>
    <button class="bMenu" mat-raised-button color="accent" routerLink="acerca-de" routerLinkActive="active">Acerca de</button>
    <div class="spacer"></div>
</mat-toolbar>