@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    background-image: linear-gradient(to right, rgb(255, 104, 137),rgb(255, 167, 229));
}

button{
    color: rgb(44, 44, 44);
}

button:hover{
    color: rgb(255, 166, 218);
}

mat-icon{
    color:rgb(255, 0, 98);
}