.game-header {
    color: #fff;
    text-align:center;
  }
  
  .logo{
    text-align: center;
    color:palevioletred;
    font-size: xx-large;
    font-weight: bolder;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    background-clip: text;
  }

  .game-container {
    width: 468px;
    position: relative;
    display: block;
    margin: auto;
  }
  
  .row {
    height: 26px;
  }
  
  .column {
    border: 1px solid rgb(255, 154, 188);
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  

  .btnJugar{
    margin-top:1vh;
    font-size:xx-large;
    padding:1vh;
  }

  .divBtnsMobile{
    margin-top:3vh;
    display:none;
    text-align:center;
    margin-bottom:5vh;
  }

  .flex{
    display:flex;
    justify-content:right;
  }

  .fab{
    margin:0.5vh;
  }
  
.cardReloj{
  background-color:palevioletred;
  min-height: 3vh;
  font-size:xx-large;
  display: inline-block;
  min-width: 5vw;
  margin-bottom:1vh;
}

.divError{
  display: table-cell;
  vertical-align: middle;
  height:10vh;
  border-radius:3vh;
  background-color:rgb(255, 95, 95);
  padding:1vh;
}

strong{
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

  @media screen and (max-width: 480px) {
    .game-container {
      width: 100%;
    }
    .column {
      width: 5.55%;
      height: 0;
      padding-bottom: 5.06%;
      box-sizing: border-box;
    }
    .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 0;
      padding-bottom: 5.5%;
    }
    .start-button.new-game-button {
      margin: 0 15% 1% 15%;
    }

    @-moz-document url-prefix() {
      .column {
        min-height: 5.5vw;
      }
    }
  }

  @media screen and (max-device-width: 1024px) {
  
    .divBtnsMobile{
      display:block;
    }
  }