<div class="game-container">
  <!--header-->
  <div class="game-header">
    <h3 class="logo">SNAKE!</h3>
    <h2 style="color:black">Psst, se juega con W A S D!</h2>
    <!--cartel perdiste-->
    <div class="divCenter" align="center" style="margin-bottom:2vh;">
      <div *ngIf="!jugando" class="divError">
        <strong>Perdiste!</strong>
      </div>
    </div>
    <!--flex para timer y puntaje-->
    <div class="flex">
      <!--puntaje-->
      <mat-card class="cardReloj" style="margin-right:2vh;">
        <strong>{{puntos}}</strong>
      </mat-card>

      <!--timer-->
      <mat-card class="cardReloj">
        <strong>{{display}}</strong>
      </mat-card>
    </div>

  </div>

  <!--tablero-->
  <div class="row" *ngFor="let column of tablero; let i = index;">
    <div class="column" [ngStyle]="{'background-color': ponerColores(i, j)}" *ngFor="let row of column; let j = index">
    </div>
  </div>

  <!--btns mobile-->
  <div class="divBtnsMobile">
    <button mat-fab class="fab" color="accent" (click)="manejadorTecladoMobile(87)">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <br>
    <button mat-fab class="fab" color="accent" (click)="manejadorTecladoMobile(65)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-fab class="fab" color="accent" (click)="manejadorTecladoMobile(83)">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-fab class="fab" color="accent" (click)="manejadorTecladoMobile(68)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <!--btn jugar de nuevo-->
  <div style="text-align:center;">
    <button mat-raised-button color="accent" class="btnJugar" (click)="comenzarJuego()" *ngIf="!jugando">Jugar otra
      vez</button>
  </div>
</div>