<h1>Le toca a: Jugador {{ jugador }} </h1>

<div class="divGrid">   
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let val of cuadros; let i = index" >
            <app-cuadro [bloqueado]="bloqueoTurnos"  [value]="val" (click)="turnoUsuario(i)"></app-cuadro>
        </mat-grid-tile>
    </mat-grid-list>

    <div>
        <mat-card *ngIf="ganador">
            <mat-card-content>
                <h1 class= "textoGano" >
                    Ganador: {{ ganador }}!
                </h1>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button status="danger" (click)="nuevoJuego()" [disabled]="bloqueoNuevoJuego">Jugar otra vez</button>
    </div>    

</div>