mat-grid-tile {
    background: lightblue;
}

.container{
max-width: max-content;
max-height: max-content;
}

mat-grid-list{
    width: 80vw;
}

mat-grid-tile{
    background-color:pink;
    border-radius:2vw;
}
img{ 
    width:90%;
    cursor: pointer;
}

@media (orientation: portrait){
    mat-grid-list{
        margin-top: 0px !important;
    }
}

@media (orientation: landscape){
    mat-grid-list{
        margin-top: 0px !important;
    }
}

.spacer{
    height:10vw;
}