<mat-grid-list cols="3">
    <mat-grid-tile><img src="../../../assets/img/anagrama.jpg" routerLink="/juegos/anagrama" routerLinkActive="active"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/img/piedrapapelotijera.svg" routerLink="/juegos/piedra-papel-tijera" routerLinkActive="active"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/img/agilidadaritmetica.svg" routerLink="/juegos/agilidad-aritmetica" routerLinkActive="active"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/img/adivinaelnumero.svg" routerLink="/juegos/adivina-el-numero" routerLinkActive="active"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/img/tateti.svg" routerLink="/juegos/ta-te-ti" routerLinkActive="active"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/img/memotest.svg" routerLink="/juegos/memotest" routerLinkActive="active"></mat-grid-tile>
</mat-grid-list>