mat-grid-tile {
    background: lightblue;
}

.container{
max-width: max-content;
max-height: max-content;
}

mat-grid-list{
    width: 80vw;
}

mat-grid-tile{
    background-color:pink;
    border-radius:2vw;
}
img{ 
    width:90%;
    cursor: pointer;
}

.containerSnake{
    display:flex;
    justify-content:center;
    width:100%;
}

.divSnake{
    text-align:center;
    width:29vw;
    height:29vw;
    background-color:black;
    border-radius:2vh;
}

.imgSnake{
    margin:2vw;
    width:25vw;
    height:25vw;
    border-radius:2vh;
}

@media (orientation: portrait){
    mat-grid-list{
        margin-top: 0px !important;
    }
}

@media (orientation: landscape){
    mat-grid-list{
        margin-top: 0px !important;
    }
}

.spacer{
    height:10vw;
}