<mat-grid-list cols="3">
    <mat-grid-tile routerLink="/juegos/anagrama" routerLinkActive="active"><img layout-fill src="../../../assets/img/anagrama.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/juegos/piedra-papel-tijera" routerLinkActive="active"><img layout-fill src="../../../assets/img/piedrapapelotijera.svg"></mat-grid-tile>
    <mat-grid-tile routerLink="/juegos/agilidad-aritmetica" routerLinkActive="active"><img layout-fill src="../../../assets/img/agilidadaritmetica.svg"></mat-grid-tile>
    <mat-grid-tile routerLink="/juegos/adivina-el-numero" routerLinkActive="active"><img layout-fill src="../../../assets/img/adivinaelnumero.svg"></mat-grid-tile>
    <mat-grid-tile routerLink="/juegos/ta-te-ti" routerLinkActive="active"><img layout-fill src="../../../assets/img/tateti.svg"></mat-grid-tile>
    <mat-grid-tile routerLink="/juegos/memotest" routerLinkActive="active"><img layout-fill src="../../../assets/img/memotest.svg"></mat-grid-tile>
</mat-grid-list>