mat-grid-tile {
    background: lightblue;
}

.container{
max-width: max-content;
}

mat-grid-list{
    height: auto; 
    width: 80vw;
    cursor: pointer;
}

@media (orientation: portrait){
    mat-grid-list{
        margin-top: 0px !important;
    }
}