<mat-grid-list cols="3">
    <mat-grid-tile routerLink="/juegos/anagrama" routerLinkActive="active"><img src="../../../assets/img/anagrama.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/piedra-papel-tijera" routerLinkActive="active"><img src="../../../assets/img/piedrapapeltijera.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/agilidad-aritmetica" routerLinkActive="active"><img src="../../../assets/img/agilidadaritmetica.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/adivina-el-numero" routerLinkActive="active"><img src="../../../assets/img/adivinaelnumero.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/ta-te-ti" routerLinkActive="active"><img src="../../../assets/img/tateti.jpg"></mat-grid-tile>
    <mat-grid-tile routerLink="/memotest" routerLinkActive="active"><img src="../../../assets/img/memotest.jpg"></mat-grid-tile>
</mat-grid-list>