<mat-card class="acercade">
    <div class="flex">
        <img class="imgAncha" src="./assets/img/creator.jpg">
        <img class="imgAlta" src="./assets/img/creator2.png">        
    </div>
    <br><br>
    <p>Estudiante de Tecnicatura Superior en Programación, UTN regional Avellaneda.</p>
    <p>Amante de los animales.</p>
    <p>Hermana del medio.</p>
    <p>Mi juego es el clásico snake con temática rosa pastel. Se me hizo nostálgico y bonito de recrear después de tantas horas jugadas en el mítico Nokia 1100 cuando era niña.</p>
    <p>Espero que lo disfrutes!</p>
    <p style="text-align:right;">Morel, Melany Lucía ♥</p>
</mat-card>