.acercade {
    text-align: center;
    margin: 0 auto;
    background-color:pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bolder;
    color: rgb(0, 90, 90);
}

img{
    border-radius:1vh;
}


mat-card img{
    object-fit: cover; 
    width: 80%;
    height:40vh;
    margin:1vh;
}

.flex{
    display:flex;
    justify-content:center;
}