table{
    text-align: center;
    border-spacing: 3vw;
    width:85vw;
    margin-left:0vw;
}

mat-card{
    width:85vw;
    margin-bottom:5vh;
    background-color: burlywood;
}

.divEmail{
    width:25vw;
    word-wrap: break-word;
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


.divSpinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vw;
    width: 25vw;
    z-index: 9998;
    background-color: whitesmoke;
    border-radius: 10%;
}
