table{
    text-align: center;
    border-spacing: 3vw;
    width:85vw;
    margin-left:0vw;
}

mat-card{
    width:85vw;
    margin-bottom:5vh;
    background-color: rgb(255, 146, 213);
}

mat-card-title{
    font-size:large;
    text-align: center;
    color: rgb(212, 99, 142);
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

th{
    font-size:large;
    text-align: center;
    color: rgb(236, 170, 84);
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

tr{
    font-size:large;
    text-align: center;
    color: rgb(255, 219, 243);
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.divSpinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vw;
    width: 25vw;
    z-index: 9998;
    background-color: whitesmoke;
    border-radius: 10%;
}
